* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #aaa;
}

body {
  background-color: white;
  max-width: 900px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 0;
}

main {
  padding: 30px;
}

hr {
  max-width: 30vw;
}

.headerRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.navRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.headerRow h1 {
  margin-bottom: 0px;
  justify-self: flex-start;
}
.headerRow p {
  color: black;
  font-size: 25px;
  margin-right: 10px;
}
.headerRow a {
  text-decoration: none;
  font-style: italic;
  color: black;
  font-size: 18px;
  margin-right: 10px;
}
